@font-face {
  font-family: 'FontAwesome';
  src: url('../awesome/fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
html,body{margin: 0;}
*{
  Xbackground-color: rgba(0, 0, 0 ,0.07);
      font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
body{
  overflow-y: scroll;
}
header{
  height: 40px;
  width: 100%;
  background-color: rgb(51,51,51);
  font-size: 12px;
}
main{
  width: 1226px;
  margin: auto;
}
header>div{
width: 1226px;
height: 100%;
margin: auto;  
line-height: 40px;
word-spacing: 0;

}
header span{
  color:#424242;
  margin: 0 .5em;
  display: inline-block;
}
header a:hover{
color:white;
}
.topA{
  text-decoration:none;
  color:rgb(176,176,176);
  display: inline-block;
 }
.hdLeft{
  float: left;
  height: 100%;
  font-size: 0px;
}
.hdRight{
  float: right;
  font-size: 0px;
  height: 100%;

}
.hdLeft *,.hdRight *{
  font-size: 12px;
  vertical-align: top;
}
.shopcar{
  margin-left: 25px;
  width: 120px;
  height: 100%;
  background-color:rgb(66,66,66);
  display: inline-block;
}
.shopcar a{
  width: 100%;
  height:100%;
  text-align: center;
}
.shopcar:hover{
  background-color: white;
}
.shopcar:hover a{
  color: rgb(255,103,0);
}
.navi{
  height: 100px;
  width: 100%;
  line-height: 100px;
font-size: 0;
  background-color: white;
}
.navititle span{
  font-size: 16px;
display: inline-block;
padding: 0 10px 0 10px ;
vertical-align:middle;
background-color: white;
}
.milogo{
  float: left;
  width: 234px;
  height: 100%;
}
.milogo div{
  margin-top: 22px;
    width: 55px;
  height: 55px;
  background-color: #ff6700;
}
.milogo div:before{
  content: "";
  display: inline-block;
width: 100%;
height:100%;
background-position: 50% 50%;
  background-image: url(https://s01.mifile.cn/i/mi-logo.png);
}
.navititle{
  float: left;
  height: 100%;
}
.navicon{
position: absolute;
left: 0;
right: 0;
width: auto;
margin: 0;
height: 0;
background:grey;
z-index: 12;
transition: height 0.5s;
overflow: hidden;
}
.navititle :hover~.navicon,.navicon:hover{
  height: 230px;
}
.navicon div{
  width: 1226px;
  height: 230px;
  margin: auto;
  position: relative;
}
.navicon ul{
  width: 1226px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background:red;
visibility: hidden;
transition: visibility 0.5s;
}
.navititle>span:nth-child(1):hover~.navicon ul:nth-child(1),.navicon ul:nth-child(1):hover,
.navititle>span:nth-child(2):hover~.navicon ul:nth-of-type(2),.navicon ul:nth-child(2):hover,
.navititle>span:nth-child(3):hover~.navicon ul:nth-child(3),.navicon ul:nth-child(3):hover,
.navititle>span:nth-child(4):hover~.navicon ul:nth-child(4),.navicon ul:nth-child(4):hover,
.navititle>span:nth-child(5):hover~.navicon ul:nth-child(5),.navicon ul:nth-child(5):hover,
.navititle>span:nth-child(6):hover~.navicon ul:nth-child(6),.navicon ul:nth-child(6):hover,
.navititle>span:nth-child(7):hover~.navicon ul:nth-child(7),.navicon ul:nth-child(7):hover,
.navititle>span:nth-child(8):hover~.navicon ul:nth-child(8),.navicon ul:nth-child(8):hover{
  visibility:visible;
  z-index: 15;
}
.navicon ul li{
  width: 203px;
  height: 100%;
  float: left;
  padding-top: 35px;
  font-size: 14px/1.5;
  text-align: center;
}
.search{
  float: right;
  height: 100%;xwidth: 220px;
}
.se_t{
  width: 180px;
}
.se_s{
  width: 40px;
}
.se_s:hover{
  background-color: rgb(255,103,0);
  color: white;
}
.search input{
  display: inline-block;
  border: 1px solid rgb(224,224,224);
  height: 50px;
  box-sizing: border-box;
  xpadding: 0 10px 0 10px;
  outline:none;
}
.search:hover input{
  border-color: rgb(176,176,176);

}
.search input:focus{
  border-color: rgb(255,103,0);

}
a{text-decoration: none;color: inherit;}
.navititle>span:hover{
  color: rgb(255,103,0);
  cursor: pointer;
}

.asider{
  height: 460px;
  width: 100%;
position: relative;
overflow: hidden;
}
.as_piwall{
  width: 100%;
  height: 100%;

}
.as_piwall img{
  height: 100%;
  position: absolute;
  top:0;
  left: 0;

  
}
.as_piwall a{
  visibility: hidden;transition: .5s;
}
.as_piwall input{
  visibility: hidden;
}
.as_skipbbox{
  position: absolute;
  z-index: 5;
  bottom: 20px ;
  right:30px; 
}
.as_skipbbox label{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: 5px;
  background-color: rgba(0,0,0,0.4);
}
.as_piwall input:checked + a{
  visibility: visible;
  transition-delay:.5s;
}
.as_piwall input:checked:nth-of-type(1)~.as_skipbbox label:nth-child(1)
,.as_piwall input:checked:nth-of-type(2)~.as_skipbbox label:nth-child(2)
,.as_piwall input:checked:nth-of-type(3)~.as_skipbbox label:nth-child(3)
,.as_piwall input:checked:nth-of-type(4)~.as_skipbbox label:nth-child(4)
,.as_piwall input:checked:nth-of-type(5)~.as_skipbbox label:nth-child(5){
background-color:rgba(255,255,255,0.4);
border-color: rgba(0,0,0,0.4);
}
.as_turnbbox label{
  width: 41px;
  height: 69px;
  display: block;
  xbackground-color: blue;
  z-index: 6;
  position: absolute;
  top:calc(50% - 34px);
  text-align: center;
  visibility: hidden;
}
.as_turnbbox label:hover{
  background-color:rgba(0,0,0,0.4);
}
.as_turnbbox label:nth-child(-n+5){
left: 234px;}
.as_turnbbox label:nth-child(-n+5):before{
  content: "<";
  color: rgba(255,255,255,0.4);
  font-size: 40px;
  line-height: 69px;

}
.as_turnbbox.as_turnbbox label:nth-child(n+6){
right: 0;
}
.as_turnbbox.as_turnbbox label:nth-child(n+6):before{
  content: ">";
  color: #757575;
  font-size: 40px;
  line-height: 69px;
}
.as_piwall input:checked:nth-of-type(1)~.as_turnbbox label:nth-child(5n+1),
.as_piwall input:checked:nth-of-type(2)~.as_turnbbox label:nth-child(5n+2),
.as_piwall input:checked:nth-of-type(3)~.as_turnbbox label:nth-child(5n+3),
.as_piwall input:checked:nth-of-type(4)~.as_turnbbox label:nth-child(5n+4),
.as_piwall input:checked:nth-of-type(5)~.as_turnbbox label:nth-child(5n+5)
{
visibility: visible;
}
.asider-side{
  height: 100%;
  width: 234px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  padding: 20px 0  20px 0;
  background-color: rgba(0,0,0,0.6);;
  box-sizing: border-box;
}
.asider-side ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.asider-side-li{
  height: 42px;
  width: 100%;
  line-height: 42px;
  padding-left: 30px;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}
.asider-side-li:hover{
  background-color: #FF6700;
}
.asider-side-li:hover .asider-side-con{
  visibility: visible;
}
.asider-side-con{
  position: absolute;
  top: 0;
  left: 234px;
  height: 460px;
  visibility: hidden;
}
.asider-side-con li{
  width: 248px;
  height: 76.6666px;
  background-color: white;
  color: #333;
}
.asider-side-con li a{
  width: 100%;
  height: 100%;
display: block;
line-height: 80px;

}
.asider-side-con li a:hover{
  color: #FF6700;
}
.asider-side-con li span{
vertical-align: top;

}
.asider-side-con li a img{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 20px 12px 20px 20px;
}
.asider-side-con li:nth-child(n+7){
  margin-left: 248px;
  xbackground-color: orange;
}
.asider-side-con li:nth-child(6n+1){
  border-top: 1px solid #E0E0E0;
  box-sizing: border-box;
}
.asider-side-con li:nth-child(7){
  margin-top: -460px;
}
.asider-side-con li:nth-child(n+13){
  margin-left: 496px;
}
.asider-side-con li:nth-child(n+19){
  margin-left: 496px;
}
.asider-side-con li:last-child{
  position: relative;
}
.asider-side-con li:last-child:after{
content: "";
width: 100%;
height: 900px;
position: absolute;
top: 100%;
left: 0;
background-color: white;

}
.secondnavi{
  margin-top: 14px;
  height: 170px;
  width: 100%;
}
.secondnavi-ad{
  float: right;
  font-size: 0;
}
.secondnavi-serve{
  height: 170px;
  width: 234px;
  float: left;
  background-color: #5f5750;

}
.fa-mobile:before {
  content: "\f10b";
}
.fa-mobile:after {
  content: "\f10b";
  xmargin-left: -10px;
  xmargin-top: 5px;
}
.fa-gift:before {
  content: "\f06b";
}
.fa-facebook:before {
  content: "\f09a";
}
.secondnavi-serve a{
float: left;
font-size: 12px;
  display: inline-block;
width: 33.3%;
height: 50%;
color: rgba(255,255,255,0.7);
padding: 20px 13px;
box-sizing: border-box;
text-align: center;
}
.secondnavi a:first-child img{
  margin-left: 14px;
}
.secondnavi-serve span:first-child{
  font-family: 'FontAwesome';
  font-size: 30px;
  display: block;
  

}

.secondnavi-ad img{
  width: 316px;
  height: 170px;
  margin-left: 15px;
}
.shangou-main{
  width: 100%;
  height: 340px;

}
.shangou-count{
  height: 100%;
  width: 234px;
  background-color: #F1EDED;
  float: left;
}
.shangou-con{
float: right;
  width: 978px;
  height: 100%;
  background-color: red;
  display: inline-block;
}